<!DOCTYPE html>
<html>
<head>
    <title>Main</title>

    <environment names="Development">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="@Url.Content("js/accordeon.js")"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        
        <link rel="stylesheet" href="@Url.Content("css/index.css")" />
        <link rel="stylesheet" href="@Url.Content("css/admin.css")" />
    </environment>
</head>
<body>
   
                <img src="@Url.Content("images/logo.png")" style="width: 23%; height: 23%; position: absolute">
                <div id="header">
                    <h2 style="color: black">
                        <b>ESharp | Справочник юного программиста</b>
                    </h2>
                </div>
                <div id="subheader">
                    <h2 ><a href="#" style="font-size: 16px; color: white">Добавить статью</a></h2>
                </div>
       
       
                @RenderBody()
          
    



</body>
</html>
