<!DOCTYPE html>
<html>
<head>
    <title>Main</title>

    <environment names="Development">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="@Url.Content("js/accordeon.js")"></script>
        <link rel="stylesheet" href="~/css/index.css" />
        <link rel="stylesheet" href="~/css/admin.css"  />
        <link rel="stylesheet" href="~/css/bootstrap.css">
        <link rel="stylesheet" href="~/css/ui.css">
        <script src="~/js/jQuery.js"></script>
        <script src="~/js/jQueryUi.js"></script>
        <script src="~/js/admin-form.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
</head>
<body>

    <img src="~/images/logo.png"  style="width: 23%; height: 23%; position: absolute">
    <div id="header">
        <h2 style="color: black">
            <b>ESharp | Справочник юного программиста</b>
        </h2>
    </div>



    <div id="dialog" hidden title="Добавление статьи">
        <table>
            <tbody>
                <tr>
                    <td>
                        <button class="template" data-template='1' style="border: 0px; padding-left:0px"><img src="@Url.Content("../images/1.png")"></button>
                    </td>
                    <td>
                        <button class="template" data-template='2' style="border: 0px; padding-left:0px"><img src="@Url.Content("../images/2.png")"></button>
                    </td>
                    <td>
                        <button class="template" data-template='3' style="border: 0px; padding-left:0px"><img src="@Url.Content("../images/3.png")"></button>
                    </td>
                </tr>
                <tr style="height:10px;"><td></td><td></td><td></td></tr>
                <tr>
                    <td>
                        <button class="template" data-template='4'  style="border: 0px; padding-left:0px"><img src="@Url.Content("../images/4.png")"></button>
                    </td>
                    <td>
                        <button class="template" data-template='5'  style="border: 0px; padding-left:0px"><img src="@Url.Content("../images/5.png")"></button>
                    </td>
                    <td>
                        <button class="template" data-template='6'  style="border: 0px; padding-left:0px"><img src="@Url.Content("../images/6.png")"></button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div id="dialogChoose" hidden title="Добавление статьи">
    </div>

<div id="dialogPreview" hidden title="Добавление статьи">
    Загрузка ...
</div>


    
    <div id="dialogChapter" hidden title="Добавление раздела">
    </div>


@RenderBody()


    <script>
        $(window).ready(function () {
            $('#dialog').dialog({
                autoOpen: false,
                width: 1000,
                height: 500,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "blind",
                    duration: 1000
                }
            });

            $('#dialogChoose').dialog({
                autoOpen: false,
                width: $(window).width() * 0.70,
                height: 600,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "blind",
                    duration: 1000
                }
            });

            $('#dialogChapter').dialog({
                autoOpen: false,
                width: 600,
                height: 220,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "blind",
                    duration: 1000
                }
            });

            $('#dialogPreview').dialog({
                autoOpen: false,
                width: 1200,
                height: 480,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "blind",
                    duration: 1000
                }
            });
        });
    </script>
 

</body>
</html>
