@model ESharp.Models.Template01ViewModel
<table>
    <tr>
        <td width="60%">
            <form method="post">
                <div>
                    <div class="col-sm-12">
                        <div class="panel panel-info">
                            <div class="panel-body">

                                <div class="form-group">
                                    <label class="control-label">Введите название статьи:</label>
                                    <input type="text" id="title" name="Title" class="form-control" value="@Model.Title" placeholder="Например, Делегаты и События" minlength="2" maxlength="30">
                                </div>


                                <div class="form-inline">
                                    <label class="control-label">Выберите раздел:</label>
                                    <select class="form-control" style="width: 74%; margin-left: 2%" name="Chapter" id="chapter">
                                        <option value="non"></option>
                                        @foreach (var c in ViewBag.Chapters)
                                        {
                                            if (@Model.Chapter == @c)
                                            {
                                                <option selected="selected">@c</option>
                                            }
                                            else
                                            {
                                                <option>@c</option>
                                            }

                                        }
                                    </select>
                                </div>

                                <hr>

                                <div class="form-group has-feedback">
                                    <label class="control-label">Введите сообщение:</label>
                                    <textarea id="description" class="form-control" rows="6 " name="Description">@Model.Description</textarea>
                                </div>

                                <div class="form-inline">
                                    <label class="control-label">Выберите картинку:</label>
                                    <input type="file" id="file" name="ImgUrl0" class="form-control" value="" style="width: 72%; margin-left: 2%">
                                </div>

                                <hr />
                                <p>@Html.ValidationSummary()</p>

                                <button type="button" class="btn btn-primary" id="back-chooseTemplate">Назад</button>
                                <button type="button" class="btn btn-primary pull-right" id="next-chooseTemplate2">Далее</button>


                            </div>
                        </div>


                    </div>
                </div>
            </form>
        </td>
        <td width="40%">
            <button class="templateimg">Template 2</button>
        </td>
    </tr>
</table>

<script>
    var data = new FormData();
    $(window).ready(function () {
        
        data.append("OldArticle", "@Model.Title");
        data.append("OldChapter", "@Model.Chapter");
    });



    $('#back-chooseTemplate').click(function () {

        $('#dialogChoose').dialog('close');
        $('#dialog').dialog('open');
    });

    $('#next-chooseTemplate2').click(function () {
        $('#dialogChoose').dialog('close');
        $('#dialogPreview').dialog('open');

        $(document).ajaxStart(function () {
            $('#dialogPreview').html("Загрузка");
        });

        var fileUpload = $("#file").get(0);

        var files = fileUpload.files;
        alert($('#file').val());
        
          var data = new FormData();
        for (var i = 0; i < files.length ; i++) {
            data.append(files[i].name, files[i]);
        }

        var postData = $('#title');
        $.each(postData, function (key, input) {
            data.append(input.name, input.value);
        });

        postData = $('#description');
        $.each(postData, function (key, input) {
            data.append(input.name, input.value);
        });


        alert("Ok" + $("#chapter :selected").text());
        data.append("Chapter", $("#chapter :selected").text());

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetTemplatePartial", "Admin")',
            contentType: false,
            processData: false,
            data: data,
            success: function (data) {
                $('#dialogPreview').html(data);
            },
            error: function () {
                alert("There was error uploading files!");
            }
        });

    });
</script>