@model ESharp.Models.Template03ViewModel
<script src="~/js/admin-template3.js"></script>

<table>
    <tr>
        <td width="60%">
            <form method="post">
                <div>
                    <div class="col-sm-12">
                        <div class="panel panel-info">
                            <div class="panel-body">

                                <div class="form-group">
                                    <input type="hidden" id="oldchapter" name="OldChapter" class="form-control" value="@Model.Chapter" placeholder="Например, Делегаты и События" minlength="2" maxlength="30">
                                    <input type="hidden" id="oldarticle" name="OldArticle" class="form-control" value="@Model.Title" placeholder="Например, Делегаты и События" minlength="2" maxlength="30">
                                    <label class="control-label">Введите название статьи:</label>
                                    <input type="text" id="title" name="Title" class="form-control" value="@Model.Title" placeholder="Например, Делегаты и События" minlength="2" maxlength="30">
                                </div>


                                <div class="form-inline">
                                    <label class="control-label">Выберите раздел:</label>
                                    <select class="form-control" style="width: 74%; margin-left: 2%" name="Chapter" id="chapterId">
                                        <option value="non"></option>
                                        @foreach (var c in ViewBag.Chapters)
                                        {
                                            if (@Model.Chapter == @c)
                                            {
                                                <option selected="selected">@c</option>
                                            }
                                            else
                                            {
                                                <option>@c</option>
                                            }

                                        }
                                    </select>
                                </div>

                                <hr>

                                <div class="form-inline">
                                    <label class="control-label">Выберите картинку 1:</label>
                                    <input type="file" id="file" name="ImgUrl0" class="form-control" value="" style="width: 72%; margin-left: 2%">
                                </div>

                                <div class="form-inline">
                                    <label class="control-label">Выберите картинку 2:</label>
                                    <input type="file" id="file2" name="ImgUrl1" class="form-control" value="" style="width: 72%; margin-left: 2%">
                                </div>

                                <hr />
                                <p>@Html.ValidationSummary()</p>

                                <button type="button" class="btn btn-primary" id="back-chooseTemplate">Назад</button>
                                <button type="button" class="btn btn-primary pull-right" id="next-chooseTemplate2">Далее</button>


                            </div>
                        </div>


                    </div>
                </div>
            </form>
        </td>
        <td width="40%">
            <button class="templateimg" style="border: 0px; padding-left:0px"><img src="@Url.Content("../images/3.png")" style="height: 290px"></button>
        </td>
    </tr>
</table>

<script>
    var data = new FormData();
    $(window).ready(function () {
    });

</script>